# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

config/__pycache__/
exp_*/
test/
wandb/
.idea/
pretrain_model
*.pt
*.pth
.idea/vcs.xml
third_party/HRNet/.gitignore
*.log
